# COVID-19 GLOBAL VACCINATION RATES:PREDICTIVE ANALYSIS

## Importing necessary libraries required for our project

In [1]:
import pandas as pd

## Read the dataset from CSV file

####  Now let us read the dataset we chose for this project. We got our data sets from Our world in data. It contained various data on different predictor such as gdp,hdi,death,vaccine etc. We will only be using the predictors we think are necessary for this project.

In [2]:
df= pd.read_csv(r'C:\Users\Sonika\Documents\Spring 2022\CIS 518\Research_Project\OWID_COVID_DATA.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Sonika\\Documents\\Spring 2022\\CIS 518\\Research_Project\\OWID_COVID_DATA.csv'

In [3]:
df.shape

(168164, 67)

## Data Preprocessing

#### In this process we will be cleaning our data. We will be finding our null values, drop unnecessary columns, separate the datasets in to smaller data sets and so on.

### a) Use .drop() to drop the columns that are not required for our analysis

In [4]:
df1 = df.drop({'total_cases','new_cases','new_cases_smoothed','new_deaths','new_deaths_smoothed','total_cases_per_million',
              'new_cases_per_million','new_cases_smoothed_per_million','total_deaths_per_million','new_deaths_per_million',
              'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million',
              'weekly_icu_admissions','weekly_icu_admissions_per_million','weekly_hosp_admissions','weekly_hosp_admissions_per_million',
              'total_tests','new_tests', 'total_tests_per_thousand', 'new_tests_per_thousand','new_tests_smoothed','new_tests_smoothed_per_thousand',
              'positive_rate','tests_per_case','tests_units','total_vaccinations_per_hundred','people_vaccinated_per_hundred', 
              'people_fully_vaccinated_per_hundred','total_boosters_per_hundred','new_vaccinations_smoothed_per_million', 
              'new_people_vaccinated_smoothed','new_people_vaccinated_smoothed_per_hundred','aged_70_older','female_smokers',
              'male_smokers','handwashing_facilities','hospital_beds_per_thousand','life_expectancy','human_development_index',
              'excess_mortality','excess_mortality_cumulative_per_million'} , axis = 1)

In [5]:
df1

,iso_code,continent,location,date,total_deaths,new_deaths_smoothed_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,...,population,population_density,median_age,aged_65_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,excess_mortality_cumulative_absolute,excess_mortality_cumulative
0,AFG,Asia,Afghanistan,2/24/20,NaN,NaN,NaN,NaN,NaN,NaN,...,39835428.0,54.422,18.6,2.581,1803.987,NaN,597.029,9.59,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/20,NaN,NaN,NaN,NaN,NaN,NaN,...,39835428.0,54.422,18.6,2.581,1803.987,NaN,597.029,9.59,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/20,NaN,NaN,NaN,NaN,NaN,NaN,...,39835428.0,54.422,18.6,2.581,1803.987,NaN,597.029,9.59,NaN,NaN
3,AFG,Asia,Afghanistan,2/27/20,NaN,NaN,NaN,NaN,NaN,NaN,...,39835428.0,54.422,18.6,2.581,1803.987,NaN,597.029,9.59,NaN,NaN
4,AFG,Asia,Afghanistan,2/28/20,NaN,NaN,NaN,NaN,NaN,NaN,...,39835428.0,54.422,18.6,2.581,1803.987,NaN,597.029,9.59,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168159,ZWE,Africa,Zimbabwe,3/9/22,5400.0,0.038,7963423.0,4386789.0,3417692.0,158942.0,...,15092171.0,42.729,19.6,2.822,1899.775,21.4,307.846,1.82,NaN,NaN
168160,ZWE,Africa,Zimbabwe,3/10/22,5408.0,0.114,7972666.0,4390103.0,3421237.0,161326.0,...,15092171.0,42.729,19.6,2.822,1899.775,21.4,307.846,1.82,NaN,NaN
168161,ZWE,Africa,Zimbabwe,3/11/22,5408.0,0.104,7985886.0,4394455.0,3425864.0,165567.0,...,15092171.0,42.729,19.6,2.822,1899.775,21.4,307.846,1.82,NaN,NaN
168162,ZWE,Africa,Zimbabwe,3/12/22,5412.0,0.142,7991667.0,4396711.0,3427761.0,167195.0,...,15092171.0,42.729,19.6,2.822,1899.775,21.4,307.846,1.82,NaN,NaN
168163,ZWE,Africa,Zimbabwe,3/13/22,5414.0,0.142,NaN,NaN,NaN,NaN,...,15092171.0,42.729,19.6,2.822,1899.775,21.4,307.846,1.82,NaN,NaN

In [6]:
df1.shape

(168164, 23)

### b) Extract the necessary data into different Excel sheet to perform analysis using Megastat

##### Extrat the data that contains OWID_AFR. OWID_AFR contains all average data of the african countries perday.

In [7]:
OWID_AFRICA = df1[df1['iso_code'].str.contains('OWID_AFR')]

In [8]:
OWID_AFRICA

,iso_code,continent,location,date,total_deaths,new_deaths_smoothed_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,...,population,population_density,median_age,aged_65_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,excess_mortality_cumulative_absolute,excess_mortality_cumulative
749,OWID_AFR,NaN,Africa,2/13/20,NaN,NaN,NaN,NaN,NaN,NaN,...,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
750,OWID_AFR,NaN,Africa,2/14/20,NaN,NaN,NaN,NaN,NaN,NaN,...,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
751,OWID_AFR,NaN,Africa,2/15/20,NaN,NaN,NaN,NaN,NaN,NaN,...,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
752,OWID_AFR,NaN,Africa,2/16/20,NaN,NaN,NaN,NaN,NaN,NaN,...,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
753,OWID_AFR,NaN,Africa,2/17/20,NaN,NaN,NaN,NaN,NaN,NaN,...,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1504,OWID_AFR,NaN,Africa,3/9/22,250636.0,0.168,424696098.0,267273062.0,191665988.0,13367016.0,...,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1505,OWID_AFR,NaN,Africa,3/10/22,250750.0,0.166,424943400.0,267359618.0,191804459.0,14357236.0,...,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1506,OWID_AFR,NaN,Africa,3/11/22,250810.0,0.165,426072428.0,267885864.0,192303060.0,14466657.0,...,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1507,OWID_AFR,NaN,Africa,3/12/22,250839.0,0.158,426094811.0,267898293.0,192313988.0,14468696.0,...,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1508,OWID_AFR,NaN,Africa,3/13/22,250887.0,0.158,428686598.0,270354514.0,194044666.0,14481849.0,...,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Extrat the data that contains OWID_SAM. OWID_SAM contains all average data of the Southern American countries perday.

In [9]:
OWID_S_AMERICA = df1[df1['iso_code'].str.contains('OWID_SAM')]
OWID_S_AMERICA

,iso_code,continent,location,date,total_deaths,new_deaths_smoothed_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,...,population,population_density,median_age,aged_65_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,excess_mortality_cumulative_absolute,excess_mortality_cumulative
140268,OWID_SAM,NaN,South America,2/22/20,NaN,NaN,NaN,NaN,NaN,NaN,...,434260137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140269,OWID_SAM,NaN,South America,2/23/20,NaN,NaN,NaN,NaN,NaN,NaN,...,434260137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140270,OWID_SAM,NaN,South America,2/24/20,NaN,NaN,NaN,NaN,NaN,NaN,...,434260137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140271,OWID_SAM,NaN,South America,2/25/20,NaN,NaN,NaN,NaN,NaN,NaN,...,434260137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140272,OWID_SAM,NaN,South America,2/26/20,NaN,NaN,NaN,NaN,NaN,NaN,...,434260137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141014,OWID_SAM,NaN,South America,3/9/22,1265006.0,1.942,784243700.0,357756552.0,308743656.0,129906790.0,...,434260137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141015,OWID_SAM,NaN,South America,3/10/22,1266078.0,1.921,786742470.0,358446450.0,309750686.0,130705413.0,...,434260137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141016,OWID_SAM,NaN,South America,3/11/22,1266692.0,1.767,787869207.0,358634827.0,310050454.0,131362252.0,...,434260137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141017,OWID_SAM,NaN,South America,3/12/22,1267257.0,1.613,789110104.0,358959324.0,310282670.0,132047495.0,...,434260137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141018,OWID_SAM,NaN,South America,3/13/22,1267893.0,1.637,789454546.0,359013069.0,310341778.0,132280296.0,...,434260137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Extrat the data that contains OWID_OCE. OWID_OCE contains all average data of the countries in Oceania perday.

In [10]:
OWID_OCEANIA = df1[df1['iso_code'].str.contains('OWID_OCE')]
OWID_OCEANIA

,iso_code,continent,location,date,total_deaths,new_deaths_smoothed_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,...,population,population_density,median_age,aged_65_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,excess_mortality_cumulative_absolute,excess_mortality_cumulative
115134,OWID_OCE,NaN,Oceania,1/25/20,NaN,NaN,NaN,NaN,NaN,NaN,...,43219954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115135,OWID_OCE,NaN,Oceania,1/26/20,NaN,NaN,NaN,NaN,NaN,NaN,...,43219954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115136,OWID_OCE,NaN,Oceania,1/27/20,NaN,NaN,NaN,NaN,NaN,NaN,...,43219954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115137,OWID_OCE,NaN,Oceania,1/28/20,NaN,NaN,NaN,NaN,NaN,NaN,...,43219954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115138,OWID_OCE,NaN,Oceania,1/29/20,NaN,NaN,NaN,NaN,NaN,NaN,...,43219954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115908,OWID_OCE,NaN,Oceania,3/9/22,8150.0,0.770,69227253.0,28401598.0,26270369.0,14663655.0,...,43219954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115909,OWID_OCE,NaN,Oceania,3/10/22,8196.0,0.754,69319927.0,28407414.0,26300328.0,14721495.0,...,43219954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115910,OWID_OCE,NaN,Oceania,3/11/22,8230.0,0.704,69426320.0,28414000.0,26336060.0,14785570.0,...,43219954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115911,OWID_OCE,NaN,Oceania,3/12/22,8256.0,0.724,69498166.0,28418111.0,26370549.0,14818816.0,...,43219954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115912,OWID_OCE,NaN,Oceania,3/13/22,8262.0,0.711,69579338.0,28424757.0,26393920.0,14869971.0,...,43219954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Extrat the data that contains OWID_NAM. OWID_NAM contains all average data of the Northern American countries perday.

In [11]:
OWID_N_AMERICA = df1[df1['iso_code'].str.contains('OWID_NAM')]
OWID_N_AMERICA

,iso_code,continent,location,date,total_deaths,new_deaths_smoothed_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,...,population,population_density,median_age,aged_65_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,excess_mortality_cumulative_absolute,excess_mortality_cumulative
112540,OWID_NAM,NaN,North America,1/22/20,NaN,NaN,NaN,NaN,NaN,NaN,...,596581283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112541,OWID_NAM,NaN,North America,1/23/20,NaN,NaN,NaN,NaN,NaN,NaN,...,596581283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112542,OWID_NAM,NaN,North America,1/24/20,NaN,NaN,NaN,NaN,NaN,NaN,...,596581283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112543,OWID_NAM,NaN,North America,1/25/20,NaN,NaN,NaN,NaN,NaN,NaN,...,596581283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112544,OWID_NAM,NaN,North America,1/26/20,NaN,NaN,NaN,NaN,NaN,NaN,...,596581283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113317,OWID_NAM,NaN,North America,3/9/22,1393602.0,2.772,942341244.0,423536753.0,370646565.0,129658307.0,...,596581283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113318,OWID_NAM,NaN,North America,3/10/22,1395529.0,2.713,943219525.0,423645116.0,370765676.0,129816472.0,...,596581283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113319,OWID_NAM,NaN,North America,3/11/22,1397269.0,2.574,943761974.0,423744178.0,370903093.0,130649598.0,...,596581283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113320,OWID_NAM,NaN,North America,3/12/22,1398156.0,2.622,945138762.0,423791679.0,371027467.0,130672472.0,...,596581283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113321,OWID_NAM,NaN,North America,3/13/22,1398403.0,2.565,945168401.0,423795208.0,371037265.0,130688341.0,...,596581283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Extrat the data that contains OWID_ASI. OWID_ASI contains all average data of the ASIAN countries perday.

In [12]:
OWID_ASIA = df1[df1['iso_code'].str.contains('OWID_ASI')]
OWID_ASIA

,iso_code,continent,location,date,total_deaths,new_deaths_smoothed_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,...,population,population_density,median_age,aged_65_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,excess_mortality_cumulative_absolute,excess_mortality_cumulative
8222,OWID_ASI,NaN,Asia,1/22/20,17.0,NaN,NaN,NaN,NaN,NaN,...,4.678445e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8223,OWID_ASI,NaN,Asia,1/23/20,18.0,NaN,NaN,NaN,NaN,NaN,...,4.678445e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8224,OWID_ASI,NaN,Asia,1/24/20,26.0,NaN,NaN,NaN,NaN,NaN,...,4.678445e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8225,OWID_ASI,NaN,Asia,1/25/20,42.0,NaN,NaN,NaN,NaN,NaN,...,4.678445e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8226,OWID_ASI,NaN,Asia,1/26/20,56.0,NaN,NaN,NaN,NaN,NaN,...,4.678445e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8999,OWID_ASI,NaN,Asia,3/9/22,1370904.0,0.405,7.389130e+09,3.413313e+09,3.062037e+09,863590182.0,...,4.678445e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9000,OWID_ASI,NaN,Asia,3/10/22,1372854.0,0.407,7.400134e+09,3.414438e+09,3.065640e+09,865970097.0,...,4.678445e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9001,OWID_ASI,NaN,Asia,3/11/22,1374651.0,0.393,7.409219e+09,3.415261e+09,3.068758e+09,866682741.0,...,4.678445e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9002,OWID_ASI,NaN,Asia,3/12/22,1376303.0,0.388,7.417740e+09,3.416460e+09,3.071117e+09,868163599.0,...,4.678445e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9003,OWID_ASI,NaN,Asia,3/13/22,1377867.0,0.384,7.425612e+09,3.416914e+09,3.072984e+09,870712252.0,...,4.678445e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Extrat the data that contains OWID_EUR. OWID_EUR contains all average data of the European countries perday.

In [13]:
OWID_EUROPE = df1[df1['iso_code'].str.contains('OWID_EUR')]
OWID_EUROPE

,iso_code,continent,location,date,total_deaths,new_deaths_smoothed_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,...,population,population_density,median_age,aged_65_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,excess_mortality_cumulative_absolute,excess_mortality_cumulative
49871,OWID_EUR,NaN,Europe,1/23/20,NaN,NaN,NaN,NaN,NaN,NaN,...,748962983.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49872,OWID_EUR,NaN,Europe,1/24/20,NaN,NaN,NaN,NaN,NaN,NaN,...,748962983.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49873,OWID_EUR,NaN,Europe,1/25/20,NaN,NaN,NaN,NaN,NaN,NaN,...,748962983.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49874,OWID_EUR,NaN,Europe,1/26/20,NaN,NaN,NaN,NaN,NaN,NaN,...,748962983.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49875,OWID_EUR,NaN,Europe,1/27/20,NaN,NaN,NaN,NaN,NaN,NaN,...,748962983.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50647,OWID_EUR,NaN,Europe,3/9/22,1734090.0,3.122,1.245051e+09,508075707.0,484976664.0,280863415.0,...,748962983.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50648,OWID_EUR,NaN,Europe,3/10/22,1736367.0,2.973,1.246123e+09,508173730.0,485840918.0,281164059.0,...,748962983.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50649,OWID_EUR,NaN,Europe,3/11/22,1738531.0,2.864,1.246461e+09,508203227.0,485924018.0,281371289.0,...,748962983.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50650,OWID_EUR,NaN,Europe,3/12/22,1739839.0,2.769,1.246600e+09,508214765.0,485955904.0,281465087.0,...,748962983.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50651,OWID_EUR,NaN,Europe,3/13/22,1740865.0,2.728,1.246665e+09,508220474.0,485971266.0,281505022.0,...,748962983.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Extract data from various Continents

##### 1. South America

In [14]:
 SouthAmerica = df1[df1['continent']=='South America']
 SouthAmerica

,iso_code,continent,location,date,total_deaths,new_deaths_smoothed_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,...,population,population_density,median_age,aged_65_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,excess_mortality_cumulative_absolute,excess_mortality_cumulative
5918,ARG,South America,Argentina,1/1/20,NaN,NaN,NaN,NaN,NaN,NaN,...,45605823.0,16.177,31.9,11.198,18933.907,0.6,191.032,5.50,NaN,NaN
5919,ARG,South America,Argentina,1/2/20,NaN,NaN,NaN,NaN,NaN,NaN,...,45605823.0,16.177,31.9,11.198,18933.907,0.6,191.032,5.50,NaN,NaN
5920,ARG,South America,Argentina,1/3/20,NaN,NaN,NaN,NaN,NaN,NaN,...,45605823.0,16.177,31.9,11.198,18933.907,0.6,191.032,5.50,NaN,NaN
5921,ARG,South America,Argentina,1/4/20,NaN,NaN,NaN,NaN,NaN,NaN,...,45605823.0,16.177,31.9,11.198,18933.907,0.6,191.032,5.50,NaN,NaN
5922,ARG,South America,Argentina,1/5/20,NaN,NaN,NaN,NaN,NaN,NaN,...,45605823.0,16.177,31.9,11.198,18933.907,0.6,191.032,5.50,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163932,VEN,South America,Venezuela,3/9/22,5652.0,0.065,NaN,NaN,NaN,NaN,...,28704947.0,36.253,29.0,6.614,16745.022,NaN,204.850,6.47,NaN,NaN
163933,VEN,South America,Venezuela,3/10/22,5655.0,0.060,NaN,NaN,NaN,NaN,...,28704947.0,36.253,29.0,6.614,16745.022,NaN,204.850,6.47,NaN,NaN
163934,VEN,South America,Venezuela,3/11/22,5655.0,0.050,NaN,NaN,NaN,NaN,...,28704947.0,36.253,29.0,6.614,16745.022,NaN,204.850,6.47,NaN,NaN
163935,VEN,South America,Venezuela,3/12/22,5656.0,0.045,NaN,NaN,NaN,NaN,...,28704947.0,36.253,29.0,6.614,16745.022,NaN,204.850,6.47,NaN,NaN
163936,VEN,South America,Venezuela,3/13/22,5658.0,0.045,NaN,NaN,NaN,NaN,...,28704947.0,36.253,29.0,6.614,16745.022,NaN,204.850,6.47,NaN,NaN

##### 2. North America

In [15]:
 NorthAmerica = df1[df1['continent']=='North America']
 NorthAmerica

,iso_code,continent,location,date,total_deaths,new_deaths_smoothed_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,...,population,population_density,median_age,aged_65_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,excess_mortality_cumulative_absolute,excess_mortality_cumulative
4471,AIA,North America,Anguilla,3/28/20,NaN,NaN,NaN,NaN,NaN,NaN,...,15125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4472,AIA,North America,Anguilla,3/29/20,NaN,NaN,NaN,NaN,NaN,NaN,...,15125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4473,AIA,North America,Anguilla,3/30/20,NaN,NaN,NaN,NaN,NaN,NaN,...,15125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4474,AIA,North America,Anguilla,3/31/20,NaN,NaN,NaN,NaN,NaN,NaN,...,15125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4475,AIA,North America,Anguilla,4/1/20,NaN,NaN,NaN,NaN,NaN,NaN,...,15125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159733,USA,North America,United States,3/9/22,963819.0,3.825,556686776.0,254476000.0,216563462.0,95845810.0,...,332915074.0,35.608,38.3,15.413,54225.446,1.2,151.089,10.79,NaN,NaN
159734,USA,North America,United States,3/10/22,965464.0,3.782,556850740.0,254518093.0,216609285.0,95918327.0,...,332915074.0,35.608,38.3,15.413,54225.446,1.2,151.089,10.79,NaN,NaN
159735,USA,North America,United States,3/11/22,967165.0,3.786,556968093.0,254547815.0,216643718.0,95969252.0,...,332915074.0,35.608,38.3,15.413,54225.446,1.2,151.089,10.79,NaN,NaN
159736,USA,North America,United States,3/12/22,967552.0,3.826,556980091.0,254551489.0,216647869.0,95973403.0,...,332915074.0,35.608,38.3,15.413,54225.446,1.2,151.089,10.79,NaN,NaN
159737,USA,North America,United States,3/13/22,967720.0,3.820,NaN,NaN,NaN,NaN,...,332915074.0,35.608,38.3,15.413,54225.446,1.2,151.089,10.79,NaN,NaN

##### 3. Asia

In [16]:
 Asia = df1[df1['continent']=='Asia']
Asia

,iso_code,continent,location,date,total_deaths,new_deaths_smoothed_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,...,population,population_density,median_age,aged_65_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,excess_mortality_cumulative_absolute,excess_mortality_cumulative
0,AFG,Asia,Afghanistan,2/24/20,NaN,NaN,NaN,NaN,NaN,NaN,...,39835428.0,54.422,18.6,2.581,1803.987,NaN,597.029,9.59,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/20,NaN,NaN,NaN,NaN,NaN,NaN,...,39835428.0,54.422,18.6,2.581,1803.987,NaN,597.029,9.59,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/20,NaN,NaN,NaN,NaN,NaN,NaN,...,39835428.0,54.422,18.6,2.581,1803.987,NaN,597.029,9.59,NaN,NaN
3,AFG,Asia,Afghanistan,2/27/20,NaN,NaN,NaN,NaN,NaN,NaN,...,39835428.0,54.422,18.6,2.581,1803.987,NaN,597.029,9.59,NaN,NaN
4,AFG,Asia,Afghanistan,2/28/20,NaN,NaN,NaN,NaN,NaN,NaN,...,39835428.0,54.422,18.6,2.581,1803.987,NaN,597.029,9.59,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166709,YEM,Asia,Yemen,3/9/22,2138.0,0.014,NaN,NaN,NaN,NaN,...,30490639.0,53.508,20.3,2.922,1479.147,18.8,495.003,5.35,NaN,NaN
166710,YEM,Asia,Yemen,3/10/22,2139.0,0.019,NaN,NaN,NaN,NaN,...,30490639.0,53.508,20.3,2.922,1479.147,18.8,495.003,5.35,NaN,NaN
166711,YEM,Asia,Yemen,3/11/22,2139.0,0.019,NaN,NaN,NaN,NaN,...,30490639.0,53.508,20.3,2.922,1479.147,18.8,495.003,5.35,NaN,NaN
166712,YEM,Asia,Yemen,3/12/22,2139.0,0.019,NaN,NaN,NaN,NaN,...,30490639.0,53.508,20.3,2.922,1479.147,18.8,495.003,5.35,NaN,NaN
166713,YEM,Asia,Yemen,3/13/22,2139.0,0.005,NaN,NaN,NaN,NaN,...,30490639.0,53.508,20.3,2.922,1479.147,18.8,495.003,5.35,NaN,NaN

##### 4. Africa

In [17]:
 Africa = df1[df1['continent']=='Africa']
 Africa

,iso_code,continent,location,date,total_deaths,new_deaths_smoothed_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,...,population,population_density,median_age,aged_65_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,excess_mortality_cumulative_absolute,excess_mortality_cumulative
2257,DZA,Africa,Algeria,2/25/20,NaN,NaN,NaN,NaN,NaN,NaN,...,44616626.0,17.348,29.1,6.211,13913.839,0.5,278.364,6.73,NaN,NaN
2258,DZA,Africa,Algeria,2/26/20,NaN,NaN,NaN,NaN,NaN,NaN,...,44616626.0,17.348,29.1,6.211,13913.839,0.5,278.364,6.73,NaN,NaN
2259,DZA,Africa,Algeria,2/27/20,NaN,NaN,NaN,NaN,NaN,NaN,...,44616626.0,17.348,29.1,6.211,13913.839,0.5,278.364,6.73,NaN,NaN
2260,DZA,Africa,Algeria,2/28/20,NaN,NaN,NaN,NaN,NaN,NaN,...,44616626.0,17.348,29.1,6.211,13913.839,0.5,278.364,6.73,NaN,NaN
2261,DZA,Africa,Algeria,2/29/20,NaN,NaN,NaN,NaN,NaN,NaN,...,44616626.0,17.348,29.1,6.211,13913.839,0.5,278.364,6.73,-536.3,-1.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168159,ZWE,Africa,Zimbabwe,3/9/22,5400.0,0.038,7963423.0,4386789.0,3417692.0,158942.0,...,15092171.0,42.729,19.6,2.822,1899.775,21.4,307.846,1.82,NaN,NaN
168160,ZWE,Africa,Zimbabwe,3/10/22,5408.0,0.114,7972666.0,4390103.0,3421237.0,161326.0,...,15092171.0,42.729,19.6,2.822,1899.775,21.4,307.846,1.82,NaN,NaN
168161,ZWE,Africa,Zimbabwe,3/11/22,5408.0,0.104,7985886.0,4394455.0,3425864.0,165567.0,...,15092171.0,42.729,19.6,2.822,1899.775,21.4,307.846,1.82,NaN,NaN
168162,ZWE,Africa,Zimbabwe,3/12/22,5412.0,0.142,7991667.0,4396711.0,3427761.0,167195.0,...,15092171.0,42.729,19.6,2.822,1899.775,21.4,307.846,1.82,NaN,NaN
168163,ZWE,Africa,Zimbabwe,3/13/22,5414.0,0.142,NaN,NaN,NaN,NaN,...,15092171.0,42.729,19.6,2.822,1899.775,21.4,307.846,1.82,NaN,NaN

##### 5. Oceania

In [18]:
 Oceania = df1[df1['continent']=='Oceania']
 Oceania

,iso_code,continent,location,date,total_deaths,new_deaths_smoothed_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,...,population,population_density,median_age,aged_65_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,excess_mortality_cumulative_absolute,excess_mortality_cumulative
9004,AUS,Oceania,Australia,1/26/20,NaN,NaN,NaN,NaN,NaN,NaN,...,25788217.0,3.202,37.9,15.504,44648.71,0.5,107.791,5.07,-532.6,-4.47
9005,AUS,Oceania,Australia,1/27/20,NaN,NaN,NaN,NaN,NaN,NaN,...,25788217.0,3.202,37.9,15.504,44648.71,0.5,107.791,5.07,NaN,NaN
9006,AUS,Oceania,Australia,1/28/20,NaN,NaN,NaN,NaN,NaN,NaN,...,25788217.0,3.202,37.9,15.504,44648.71,0.5,107.791,5.07,NaN,NaN
9007,AUS,Oceania,Australia,1/29/20,NaN,NaN,NaN,NaN,NaN,NaN,...,25788217.0,3.202,37.9,15.504,44648.71,0.5,107.791,5.07,NaN,NaN
9008,AUS,Oceania,Australia,1/30/20,NaN,NaN,NaN,NaN,NaN,NaN,...,25788217.0,3.202,37.9,15.504,44648.71,0.5,107.791,5.07,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165224,WLF,Oceania,Wallis and Futuna,3/9/22,7.0,0.0,NaN,NaN,NaN,NaN,...,11094.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165225,WLF,Oceania,Wallis and Futuna,3/10/22,7.0,0.0,NaN,NaN,NaN,NaN,...,11094.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165226,WLF,Oceania,Wallis and Futuna,3/11/22,7.0,0.0,NaN,NaN,NaN,NaN,...,11094.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165227,WLF,Oceania,Wallis and Futuna,3/12/22,7.0,0.0,NaN,NaN,NaN,NaN,...,11094.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165228,WLF,Oceania,Wallis and Futuna,3/13/22,7.0,0.0,NaN,NaN,NaN,NaN,...,11094.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### 6. Europe

In [19]:
 Europe = df1[df1['continent']=='Europe']
 Europe

,iso_code,continent,location,date,total_deaths,new_deaths_smoothed_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,...,population,population_density,median_age,aged_65_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,excess_mortality_cumulative_absolute,excess_mortality_cumulative
1509,ALB,Europe,Albania,2/25/20,NaN,NaN,NaN,NaN,NaN,NaN,...,2872934.0,104.871,38.0,13.188,11803.431,1.1,304.195,10.08,NaN,NaN
1510,ALB,Europe,Albania,2/26/20,NaN,NaN,NaN,NaN,NaN,NaN,...,2872934.0,104.871,38.0,13.188,11803.431,1.1,304.195,10.08,NaN,NaN
1511,ALB,Europe,Albania,2/27/20,NaN,NaN,NaN,NaN,NaN,NaN,...,2872934.0,104.871,38.0,13.188,11803.431,1.1,304.195,10.08,NaN,NaN
1512,ALB,Europe,Albania,2/28/20,NaN,NaN,NaN,NaN,NaN,NaN,...,2872934.0,104.871,38.0,13.188,11803.431,1.1,304.195,10.08,NaN,NaN
1513,ALB,Europe,Albania,2/29/20,NaN,NaN,NaN,NaN,NaN,NaN,...,2872934.0,104.871,38.0,13.188,11803.431,1.1,304.195,10.08,-190.8,-4.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163202,VAT,Europe,Vatican,3/9/22,NaN,NaN,NaN,NaN,NaN,NaN,...,812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163203,VAT,Europe,Vatican,3/10/22,NaN,NaN,NaN,NaN,NaN,NaN,...,812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163204,VAT,Europe,Vatican,3/11/22,NaN,NaN,NaN,NaN,NaN,NaN,...,812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163205,VAT,Europe,Vatican,3/12/22,NaN,NaN,NaN,NaN,NaN,NaN,...,812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163206,VAT,Europe,Vatican,3/13/22,NaN,NaN,NaN,NaN,NaN,NaN,...,812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Use .to_csv to export the separated dataset to excelsheet

In [20]:
OWID_ASIA.to_csv(r'C:\Users\Sonika\Documents\Spring 2022\CIS 518\Research_Project\OWID_ASIA.csv')

In [21]:
OWID_AFRICA.to_csv(r'C:\Users\Sonika\Documents\Spring 2022\CIS 518\Research_Project\OWID_AFRICA.csv')

In [22]:
OWID_S_AMERICA.to_csv(r'C:\Users\Sonika\Documents\Spring 2022\CIS 518\Research_Project\OWID_S_AMERICA.csv')

In [23]:
OWID_N_AMERICA.to_csv(r'C:\Users\Sonika\Documents\Spring 2022\CIS 518\Research_Project\OWID_N_AMERICA.csv')

In [24]:
OWID_OCEANIA.to_csv(r'C:\Users\Sonika\Documents\Spring 2022\CIS 518\Research_Project\OWID_OCEANIA.csv')

In [25]:
NorthAmerica.to_csv(r'C:\Users\Sonika\Documents\Spring 2022\CIS 518\Research_Project\North America.csv')

In [26]:
SouthAmerica.to_csv(r'C:\Users\Sonika\Documents\Spring 2022\CIS 518\Research_Project\South America.csv')

In [27]:
Asia.to_csv(r'C:\Users\Sonika\Documents\Spring 2022\CIS 518\Research_Project\Asia.csv')

In [28]:
Africa.to_csv(r'C:\Users\Sonika\Documents\Spring 2022\CIS 518\Research_Project\Africa.csv')

In [29]:
Oceania.to_csv(r'C:\Users\Sonika\Documents\Spring 2022\CIS 518\Research_Project\Oceania.csv')